<!DOCTYPE html>

<html>

<head>
    <title>Privacy Policy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/mstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="banner">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand mt-3" href="#"> <img src="./assets/logo black.svg" class=""></a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mt-4 "><img src="./assets/icons8-menu.svg" style="width: 15px;"
                            alt=""></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mt-3">
    
                        <li class="nav-item ">
                            <a class="nav-link ml-4res" href="PrivacyPolicy.html" style="color: black;"><b>About</b></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a class="nav-link" href="FAQ.html" style="color: black;"><b>FAQ</b></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a class="nav-link" href="GetInTouch.html" style="color: black;"><b>Get in touch</b></a>
                        </li>
    
                    </ul>
                    <ul class="navbar-nav ml-auto mt-3">
    
                        <li class="nav-item ml-2">
                            <div class="dropdown">
                                <button
                                    style="color: black; border:1px solid #DCDCDC; border-radius: 30px; background: transparent;font-weight: bold;"
                                    class="btn  dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pound Sterling
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ml-2">
                            <div class="dropdown">
                                <button style="color: black;    border: 1px solid #DCDCDC;
                            border-radius: 40px;
                            padding-right: 10px;
                            padding-left: 10px; background: transparent;font-weight: bold;" class="btn  dropdown-toggle"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    en
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#"><img src="./assets/instagram.svg" class="mtneg-8 img-fluid"></a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#"><img src="./assets/twitter.svg" class="img-fluid mtneg-8"></a>
                        </li>
    
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div>

        <div class="Heading_Container">
            <h1 style="font-weight: bold;">Privacy Policy</h1>
            <h5 style="margin-top: 1%;"><b>The Sun Holidays</b></h5>
        </div>


        <div class="row justify-content-center">

            <p class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                Our privacy policy has been drafted in compliance with the UK Data Protection Act 2018. The Sun Holidays (“we” “us”
                “our”) care about your privacy and have sworn to protect your data by not sharing, disclosing or selling it. This
                privacy policy explains how we collect your personal information and what we do with your personal information. You are
                enjoined to take some minutes to carefully read this privacy policy to have a better understanding of how we process
                your data. 
            </p>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Data Controller</h4>

                <p>
                    The Data controller in respect of your data is:
                </p>

                <br/>

                <p>
                    The Sun Holidays <br/>
                    United Kingdom <br />
                    Email: <a href="mailto:fence.u@gmail.com" style="color: orange;"><b>fence.u@gmail.com</b></a> 
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Updates</h4>

                <p>
                    Our Privacy policy is not cast in stone and it is for this reason that we may in our exclusive discretion to
                    periodically update our privacy policy. We may also update our privacy policy to comply with the provision of data
                    protection laws where necessary. When we update our privacy policy according to any of the two instances, we shall
                    inform you of the updates by publishing the latest privacy policy on our website.
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Information we collect from you</h4>

                <p>We collect the following information from you because you provide it to us: </p>

                <h5 class="TextHeader">Email</h5>
                <p>
                    You provide us with your email address when you subscribe to our newsletter to get information on the latest holiday
                    deals. You also provide us with your email address when you get in touch with us to ask us questions about our
                    services. 
                </p>

                <h5 class="TextHeader">Other information we technically collect</h5>
                <p>
                    Access and usage to certain features of our site allow us to routinely collect certain information such as your
                    geographical location, time zone, connection speed, ISP, domain name, and usage type information using a proprietary IP
                    address, mobile device GPS, log data, unique identifiers and device information.
                    If you do not wish us to collect this information, you should deactivate or otherwise control the use of location
                    service through the settings feature of your device. However, if you deactivate the location service certain features of
                    our website might not function properly.
                </p>

                <h5 class="TextHeader">Web Beacon</h5>
                <p>
                    We use web beacons to monitor your activities on our site for purposes of web analytics. A web beacon is a transparent
                    graphic image usually 1pixel x 1 pixel in size which is placed on our website to monitor your activities when you visit
                    our site or send us an email through the “Get in touch” button on our website. We often use web beacons and cookies
                    together.
                </p>

                <h5 class="TextHeader">You also have rights:</h5>
                <p>
                You also have rights emanating from the personal information you provided us with and the information we technically
                collected from you. Your data protection rights are:

                <br/>
                <br/>
                
                1. The right to ask for your data. <br />
                2. The right to rectify your data and request the rectification to be effected. <br />
                If we are unable to rectify your data, we shall inform you and proffer explanations on our inability to rectify your
                data.  <br />
                3. The right to request that your data be wiped-out. <br />
                4. The right to data portability.<br />
                5. The right to request a restriction on the processing of your data. 
                
                <br/>
                <br/>

                    You can ask us to stop using your data for direct promotional emails by unsubscribing to our newsletters. We will stop
                    immediately when we receive your request. All requests in respect of your rights shall be processed within one month
                    except where your request is complex in which case we shall communicate our estimated period of response within one
                    month. All requests in respect of your rights should be sent to the email address provided in the Data Controller
                    section. 
                </p>

            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Links to other websites</h4>

                <p>
                    This site contains links to other third party websites where users can book flights, hotels and tours as well as
                    purchase flight tickets. Our newsletters also contain third party links which lead users to websites where users can
                    book and pay for flights, hotels and tours. 
                    When you click on those links you will effectively leave our website to the third-party website. While the Sun Holidays
                    recommends and suggests holiday destinations, top city break destinations and culture destinations to visit and super
                    holiday deals inclusive of accommodation, it is not affiliated to those third-party sites that offer the ticket, tours
                    and hotels or accommodations for you. Accordingly, the Sun Holidays cannot be held liable for any personal data breach
                    that occurs when you visit the site. Kindly read the privacy policy of those sites to understand the type of information
                    they collect and how they process and keep your information secure. 
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Legal Basis for Processing Your Information </h4>

                <p>
                    The legal basis for processing your personal information are: <br/>
                    a) You consented to us using your information in a certain way. <br />
                    b) The use is in accordance with a legal duty, or <br />
                    c) The use is obligatory to shield your pertinent interests or interests of others; or <br />
                    d) We have a valid interest in using your information–by way of example to provide an enhanced user experience. 
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">How we use your information</h4>

                <p>
                    We use your information in the following ways: <br/>
                    • To provide our services of travel destination recommendations to you; <br />
                    • For marketing and advertising purposes in order to develop and send you promotional materials; <br />
                    • To timely respond to your queries through our customer care services. 
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Sharing your information</h4>

                <p>
                    We have a “no sell” “no lease” policy on your data. We also do not release your data to the public. However, there are
                    certain instances where we transfer or share your personal information: <br/>
                    • We divulge and sometimes transfer your personal information to third parties who are affiliated with us or our service
                    providers who provide email services to us.<br />
                    • For marketing purposes- With third parties for joint marketing purposes.<br />
                    • In response to legal proceedings or regulatory authorities – to comply with the law, a judicial proceeding, subpoena,
                    court order, or other legal processes.

                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Retention</h4>

                <p>
                    We retain your data for as long as it is needed to provide our travel destination recommendation services to you and in
                    compliance with applicable laws. Where we no longer provide our services to you, your data shall be retained for such a
                    period as required by law and afterwards, it shall be mechanically erased. 
                </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Data Safety</h4>

                <p>
                    We use advanced technology to keep your data safe and we shall continually make tremendous efforts to secure your data,
                    however, the internet is not immune to a security breach. Consequently, if there is a security breach to your data, we
                    shall: <br/>
                    • Take steps to investigate it;<br />
                    • Report to appropriate authorities and;<br />
                    • Notify you if your data was breached. <br />
                </p>
            </div>

            
            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Cross-border transfers of information</h4>
                <p>We do not transfer your information to a country outside the European Union (EU). </p>
            </div>


            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Children's Privacy</h4>

                <p>
                    Our Services are not for children so we do not collect children’s personal information. In the unlikely event that we
                    collected a child’s personal information, we shall delete it as soon as we are aware of such data. Kindly contact us, if
                    you are a parent or guardian and you are aware that your child has provided us with his/her data.  
                </p>
            </div>

            
            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">More information on your data</h4>

                <p>
                    If you need more information on your data, please send an email to <a href="mailto:fence.u@gmail.com" style="color: orange;"><b>fence.u@gmail.com</b></a> 
                </p>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-5  mb-5 " style="background-color: #DBF2FB;height: 465px;">
        <div class="row">
            <div class="col-sm-12 text-center ">
                <h2 class="text-center mbl-h2 mbl-h1" style="margin-top: 90px;"><strong>Subscribe for early access to our
                        last<br>minute cheap sunny holiday deals</strong></h2>
                <input type="email" name="email" placeholder=" Enter your e-mail address" class="mt-5 pt-3 pb-3 w-530"
                    style="    border: 1px solid lightgrey;
            border-radius: 100px;" /> <br>
                <button class="btn  mt-3 w-530 pb-3 pt-3"
                    style="background-color:#F7921E;color: white; border-radius: 100px;">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="./assets/newsletter1.svg" class="img-fluid image1" />
            </div>
            <div class="col-sm-6 text-center">
                <img src="./assets/newsletter2.svg" class="img-fluid image2" />
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-6">
                <img src="./assets/logo_black.svg" class="img-fluid ">
            </div>
            <div class="col-sm-6 text-right">
                <p>Get in touch <img src="./assets/instagram.svg" class="img-fluid ml-3 " /> <img src="./assets/twitter.svg"
                        class="img-fluid ml-3">
                </p>
            </div>
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <div class="footer-copyright text-left py-3">©️ 2020 The Sun Holidays. All rights reserved.
                    </div>
                </footer>
            </div>
        </div>
    </div>

</body>

</html>