<!DOCTYPE html>

<html> 
<head>
    <title>Terms and Conditions</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/mstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="banner">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand mt-3" href="#"> <img src="./assets/logo black.svg" class=""></a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mt-4 "><img src="./assets/icons8-menu.svg" style="width: 15px;"
                            alt=""></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mt-3">
    
                        <li class="nav-item ">
                            <a class="nav-link ml-4res" href="PrivacyPolicy.html" style="color: black;"><b>About</b></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a class="nav-link" href="FAQ.html" style="color: black;"><b>FAQ</b></a>
                        </li>
                        <li class="nav-item ml-4">
                            <a class="nav-link" href="GetInTouch.html" style="color: black;"><b>Get in touch</b></a>
                        </li>
    
                    </ul>
                    <ul class="navbar-nav ml-auto mt-3">
    
                        <li class="nav-item ml-2">
                            <div class="dropdown">
                                <button
                                    style="color: black; border:1px solid #DCDCDC; border-radius: 30px; background: transparent;font-weight: bold;"
                                    class="btn  dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pound Sterling
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ml-2">
                            <div class="dropdown">
                                <button style="color: black;    border: 1px solid #DCDCDC;
                            border-radius: 40px;
                            padding-right: 10px;
                            padding-left: 10px; background: transparent;font-weight: bold;" class="btn  dropdown-toggle"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    en
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#"><img src="./assets/instagram.svg" class="mtneg-8 img-fluid"></a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#"><img src="./assets/twitter.svg" class="img-fluid mtneg-8"></a>
                        </li>
    
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div>
        <div class="Heading_Container">
            <h1 style="font-weight: bold;">Terms and Conditions</h1>
            <h5 style="margin-top: 1%;"><b>The Sun Holidays</b></h5>
        </div>

        <div class="row justify-content-center">
            <p class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                You are on this page because you were searching for cheap sunny holiday deals to get you started on your holiday. By
                reading these Terms and Conditions and accepting the same you have entered into a valid contractual relationship with
                The Sun Holidays (“we” “us” “our”). You also agree that you have the legal capacity to enter into this contract. If you
                disagree with any or all of our terms do not accept these Terms and Conditions and please exit the site.
            </p>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Our Services</h4>
                <p>
                    Our services consist of recommending travel destinations based on good weather and the cost of the flight ticket. You
                    can also search for good holiday deals on our site. Our services also provide you with links to third party websites
                    where you can book and pay for flights, hotels and, tours. However, our services do not consist of:
                </p>
            <br/>
            <p>
                        • Booking flight, tours, and hotels; <br/>
                        • Paying for flights;<br/>
                        • Paying for tours and;<br/>
                        • Paying for hotels or accommodations. <br/>
            </p>
            <br/>

                    <p>
                        Our services are recommendation based services only and are provided to you for free. That is without charge. But we do
                        get paid commissions by third-party websites if based on our recommendations, you booked or paid for your flights,
                        tours, and hotels on their site. 
                    </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Language</h4>
                <p>
                    The default language of www.thesunholidays.com is English. To give you excellent user experience, you can select your
                    language of choice from the language bar at the top right corner on the website. By selecting any of the languages, the
                    website will be displayed in your language of choice. You can change the language settings at any time.
                </p>
            </div>           
            
            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Newsletter Subscription</h4>
                <p>
                    While you can access our services on our website, you can also subscribe to our newsletters to promptly receive
                    information on the cheapest sunny holiday deals all in one place- your email. Subscription to our newsletter attracts no
                    cost to you. Our newsletters shall inform you of sunny and cheap holiday packages. It may also contain links to
                    third-party websites where such sunny holiday deals for flight tickets, hotels and tours are being purchased to enable
                    you to have easy access to the holiday deals.  
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Flight Fares, Tours and Hotel Booking</h4>
                <p>
                    The information on our Site does not constitute a binding offer or any offer at all to sell flight tickets or book
                    hotels or tours for you. It is merely a recommendation. Accordingly, flight fares are subject to availability and
                    changes depending on how fast you were in taking advantage of the offer as soon as it was published. We reserve the
                    right at any time even after you clicked on the link to third-party websites to change the flight fare to correspond
                    with the current changes in the third-party websites. 
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Links to Third-Party Websites</h4>
                <p>
                    This Site contains links to other websites where flight, hotels and tours can be booked and paid for. All third party
                    sites are not owned or controlled by The Sun Holidays. The Sun Holidays is merely a partner to those third-party sites
                    to recommend their travel services to you. Additionally, third party links are provided as a supplementary avenue of
                    access to the information contained therein. Due to the enormous third party links on our website, we have not
                    painstakingly reviewed each third party website’s terms and conditions or all the contents on their site. We shall not
                    be liable for any services being offered through those sites. Thus, the inclusion of links to our site and newsletter
                    does not amount to an endorsement of the content of the linked site. Kindly read the terms and conditions as well as
                    other policies of the third-party site to give you an insight on the rules of purchasing your travel ticket, tours and
                    hotel bookings. The Sun Holidays cannot and should not be held liable for any losses, damages, or other liabilities
                    incurred as a result of your use of any of the third-party sites.
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Use of Material on the Site and Intellectual property rights</h4>
                <p>
                    All materials on The Sun Holidays (including but not limited to text, design, graphics, tradename, service mark,
                    trademark, logos, icons, images, audio clips, code, and software and the selection and arrangement thereof) are solely
                    and exclusively the intellectual property (registered and unregistered) of The Sun Holidays. You may access and print
                    the materials contained on the Site for your non-commercial use, provided you do not modify or delete any copyright,
                    trademark, or other proprietary notice that appears on the materials you access and print. Other uses of the materials
                    on the Site such as the modification, distribution, transmission, performance, broadcast, publication, uploading,
                    licensing, reverse engineering, transfer or sale of, or the creation of derivative works from, any material,
                    information, software or services obtained from the Site are proscribed. 
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Disclaimer</h4>
                <p>
                    This site provides travel destination recommendation services only. Its’ services is provided on an “as is” and “as
                    available” basis. The Sun Holidays does not accept fees for recommending travel destinations to you. The Sun Holidays is
                    not a travel agency. Accordingly, your payment of flight fares, hotel bookings and tour bookings are on third-party
                    sites. Your payments are solely done at your own risk. You are enjoined to read the terms and conditions governing such
                    payments and incidental issues such as refunds etc. The Sun Holidays expressly disclaims all warranties of any kind,
                    whether express or implied, including but not limited to warranties implied from a course of performance or course of
                    dealing; that access to the site will be uninterrupted or error-free; that the site will be safe; that the site or the
                    server that makes the site available will be virus-free; or that information on the site will be complete, accurate, or
                    timely. No advice or information, whether oral or written, obtained by you from the sun holidays or through or from the
                    site shall create any warranty of any kind. The Sun Holidays does not make any representations or warranties on the
                    completeness, accuracy, and up to date status of the materials on the site.
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Limitation of liability</h4>
                <p>
                    You assume full responsibility for your use of the site. You accept that any information you send or receive during your
                    use of the site may not be entirely safeguarded and may be intercepted by unauthorised parties. In no event shall either
                    party be liable to the other for exemplary or punitive damages.
                    You recognise that the site is made available to you at no charge and agree to the fullest extent permitted by
                    applicable law that the Sun Holidays shall not be liable for any direct, indirect, punitive, exemplary, incidental,
                    special, consequential, or other damages arising out of or in any way related to the site, or any other site you access
                    through a link from this site or any actions the sun holidays take or fail to take as a result of communications you
                    send to us, or the delay or inability to use the site, or for any information, or services advertised in or obtained
                    through the site. The Sun Holidays’ shall have the unfettered right without any liability to you to remove or delete any
                    materials posted on its site. Your exclusive remedy for any of the above claims or any dispute with The Sun Holidays is
                    to discontinue your use of its services. 
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Indemnity</h4>
                <p>
                    You acquiesce to indemnify The Sun Holidays from and against all losses, liabilities, expenses including court costs,
                    arising or resulting from your use of the Site and any violation of these Terms and Conditions. If you cause a technical
                    disruption of the Site or the systems transmitting the Site to you or others, you agree to be responsible for any
                    losses, liabilities, damages, and costs resulting from that disruption. 
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Governing Law</h4>
                <p>
                    These Terms and Conditions are governed by the laws of the United Kingdom. We understand and acknowledge that you can
                    access this site outside the United Kingdom and from any part of the World as a result of the nature of the cyberspace.
                    By doing so, you acquiesce to the exclusive jurisdiction of the courts in the United Kingdom. If your use of the Site,
                    is in contradiction to the laws of the country where you accessed the site, the Site is not intended for you and we
                    request you not to use the Site again. 
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Alterations</h4>
                <p>
                    Changes are inevitable and as such we may intermittently alter the provisions of these Terms and Conditions. When we do,
                    we shall inform you by posting the updated copy on our website. Your continued use of the Website after any changes to
                    these Terms shall connote your acceptance of the new Terms.
                </p>
            </div>

            <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-7">
                <h4 class="TextHeader">Get in touch</h4>
                <p>
                    Click on the “Get in Touch” tab at the bottom of the website if you would like us to answer your questions or respond to
                    your comments about these Terms and Conditions or concerning our services.
                </p>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-5  mb-5 " style="background-color: #DBF2FB;height: 465px;">
        <div class="row">
            <div class="col-sm-12 text-center ">
                <h2 class="text-center mbl-h2 mbl-h1" style="margin-top: 90px;"><strong>Subscribe for early access to our
                        last<br>minute cheap sunny holiday deals</strong></h2>
                <input type="email" name="email" placeholder=" Enter your e-mail address" class="mt-5 pt-3 pb-3 w-530"
                    style="    border: 1px solid lightgrey;
            border-radius: 100px;" /> <br>
                <button class="btn  mt-3 w-530 pb-3 pt-3"
                    style="background-color:#F7921E;color: white; border-radius: 100px;">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="./assets/newsletter1.svg" class="img-fluid image1" />
            </div>
            <div class="col-sm-6 text-center">
                <img src="./assets/newsletter2.svg" class="img-fluid image2" />
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-6">
                <img src="./assets/logo_black.svg" class="img-fluid ">
            </div>
            <div class="col-sm-6 text-right">
                <p>Get in touch <img src="./assets/instagram.svg" class="img-fluid ml-3 " /> <img src="./assets/twitter.svg"
                        class="img-fluid ml-3">
                </p>
            </div>
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <div class="footer-copyright text-left py-3">©️ 2020 The Sun Holidays. All rights reserved.
                    </div>
                </footer>
            </div>
        </div>
    </div>

</body>

</html>